.fp-success-text {
    color: green;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.25rem;
}

.fp-error-text {
    color: red;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.25rem;
}