.passwords-valid {
    width: 100%;
    height: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.reset-buttons-container {
    width: 100%;
    height: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.passwords-valid p {
    margin: 0;
    font-size: 1.25rem;
}