.page-loader {
    border: 1.5rem solid lightgray;
    border-top: 1.5rem solid rgba(0, 0, 255, 0.5);
    border-radius: 50%;
    width: 12rem;
    height: 12rem;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}